
<%= simple_form_for @transaction, url: bank_account_transactions_path, method: :post do |f| %>
  <div class="formdevise">
    <br>
    <%= f.input :receiving_account, as: :string, placeholder: 'Enter an Account Number'%>
    <%= f.input :amount, as: :float, placeholder: 'Enter an Amount'%>
    <%= hidden_field_tag "format", @account.id %>
    <%= f.button :submit, class: "button-large"%>
  </div>
<% end %>

<h3>Balance: €<%= @account.balance %></h3>

<% @transactions.each do |transaction| %>
  <p>Created: <%= transaction.created_at %>  transaction: <%= transaction.transaction_number %> type: <%= transaction.transaction_type %> from: <%= transaction.sending_acoount %> to: <%= transaction.receiving_acoount %></p>
<% end %>
