
<%= simple_form_for @transaction, url: bank_account_transactions_path, method: :post do |f| %>
  <div class="formdevise">
    <br>
    <%= f.input :receiver, as: :string, placeholder: 'Enter an Account Number', required: true%>
    <%= f.input :amount, as: :float, placeholder: 'Enter an Amount'%>
    <%= hidden_field_tag "format", @account.id %>
    <%= f.button :submit, class: "btn btn-secondary"%>
  </div>
<% end %>

<h3>Balance: €<%= @account.balance %></h3>

<% @transactions.each do |transaction| %>
  <% if transaction.sender_id == @account.id %>
    <p>Created: <%= transaction.created_at %>  transaction: <%= transaction.transaction_number %> type: <%= transaction.transaction_type %> to: <%= BankAccount.find(transaction.receiver_id).account_number %> amount:<span style="color: red"> <%= transaction.amount %> </span></p>
  <% else %>
    <p>Created: <%= transaction.created_at %>  transaction: <%= transaction.transaction_number %> type: <%= transaction.transaction_type %> from: <%= BankAccount.find(transaction.sender_id).account_number %> amount: <span style="color: green"> <%= transaction.amount %> </span></p>
  <% end %>
<% end %>
