
<%= simple_form_for @transaction, url: bank_account_transactions_path, method: :post do |f| %>
  <div class="formdevise">
    <br>
    <%= f.input :receiver, as: :string, placeholder: 'Enter an Account Number', required: true%>
    <%= f.input :amount, as: :float, placeholder: 'Enter an Amount'%>
    <%= hidden_field_tag "format", @account.id %>
    <%= f.button :submit, class: "btn btn-secondary"%>
  </div>
<% end %>

<h3>Balance: €<%= @account.balance %></h3>
<table class="table table-bordered">
  <tr>
    <th>Created</th>
    <th>Transaction </th>
    <th>Type</th>
    <th>IN</th>
    <th>OUT</th>
    <th>from/to</th>
  </tr>
  <% @transactions.reverse.each do |transaction| %>
  <tr>
    <td><%= transaction.created_at %></td>
    <td><%= transaction.transaction_number %></td>
    <td><%= transaction.transaction_type %></td>
    <% if transaction.sender_id == @account.id %>
      <td></td>
      <td><span style="color: red"> <%= transaction.amount %> </span></td>
      <td><%= BankAccount.find(transaction.receiver_id).account_number %></td>
    <% else %>
      <td><span style="color: green"> <%= transaction.amount %></td>
      <td></td>
      <td><%= BankAccount.find(transaction.sender_id).account_number %></td>
    <% end %>
  </tr>
  <% end %>
</table>
